@charset "utf-8";
/* CSS Document */
*{
    padding:0;
    margin:0;
	-webkit-font-smoothing: antialiased; 
	font-family:"微软雅黑";
    }
    
ul,ol,li{
    list-style:none;
    }

a{
    text-decoration:none;
	color:#000;
    }
a:hover{
	color:#666;
	}
img{
    display:block;
    border:0;
    }
.clearfloat{
    zoom:1;
}

.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
    
    


     


   
